<div data-controller="tabs" data-tabs-active="cursor-default text-gray-900 bg-spina-dark/10" data-tabs-inactive="cursor-pointer bg-transparent text-gray-400 border-transparent">
  <%= render Spina::UserInterface::HeaderComponent.new do |header| %>
    <% header.with_actions do %>
      <%= render Spina::UserInterface::TranslationsComponent.new(@block, label: @locale.to_s.upcase) %>

      <div class="relative" data-controller="reveal" data-reveal-away-value>
        <button type="button" class="btn btn-default px-3" data-action="reveal#toggle">
          <svg class="w-5 h-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
          </svg>
        </button>

        <div hidden data-reveal data-transition class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg border border-gray-200 z-30">
          <div class="rounded-md bg-white shadow-xs py-1">
            <%= button_to t('spina.blocks.delete'),
                  spina.blocks_admin_block_path(@block),
                  method: :delete,
                  class: "block w-full text-left px-4 py-2 text-sm leading-5 font-medium text-red-500 cursor-pointer bg-white hover:bg-red-100/50 hover:text-red-500",
                  form: {data: {controller: "confirm", confirm_message: t('spina.blocks.delete_confirmation')}} %>
          </div>
        </div>
      </div>

      <button type="submit" form="<%= dom_id(@block) %>" class="btn btn-primary" data-controller="button hotkeys" data-hotkeys="command+s, ctrl+s" data-hotkeys-target="button" data-action="button#loading" data-loading-message="Saving...">
        <%= heroicon('check', style: :mini, class: 'w-5 h-5 -ml-1 mr-1') %>
        <%= t('spina.blocks.save') %>
      </button>
    <% end %>

    <% header.with_navigation do %>
      <nav class="-mb-3 mt-4">
        <ul class="inline-flex w-auto rounded-md bg-white">
          <% @tabs.each do |tab_name| %>
            <%= render partial: "button_#{tab_name}" %>
          <% end %>
        </ul>
      </nav>
    <% end %>
  <% end %>

  <div class="p-4 md:p-8">
    <%= form_with model: @block, url: spina.blocks_admin_block_path(@block), id: dom_id(@block) do |f| %>
      <%= hidden_field_tag :locale, @locale %>
      <% Mobility.with_locale(@locale) do %>
        <% @tabs.each_with_index do |tab_name, idx| %>
          <div data-tabs-target="pane" id="<%= tab_name %>" <%= 'hidden' unless idx.zero? %>>
            <%= render partial: "form_#{tab_name}", locals: {f: f} %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
