<div class="max-w-5xl grid grid-cols-1 md:grid-cols-3 gap-3 md:gap-6">
  <div class="col-span-1 mt-6 md:mt-0">
    <label class="block text-sm font-medium leading-5 text-gray-700">
      <%= Spina::Blocks::Block.human_attribute_name(:block_template) %>
    </label>
  </div>

  <div class="col-span-2 mt-1">
    <span class="text-sm text-gray-700"><%= @block.block_template %></span>
  </div>

  <div class="col-span-1 mt-6 md:mt-0">
    <label class="block text-sm font-medium leading-5 text-gray-700">
      <%= Spina::Blocks::Block.human_attribute_name(:active) %>
    </label>
    <div class="text-sm leading-5">
      <p class="text-gray-500"><%= t('spina.blocks.active_description') %></p>
    </div>
  </div>

  <div class="col-span-2 mt-1">
    <%= render Spina::Forms::SwitchComponent.new(f, :active) %>
  </div>
</div>
